body {
    background-color: #161616;
    height: 105vh;
    width: 124vw;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.button {
    border: none;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    padding: 20px;
    width: 10%;
    height: 3%;
}



#buttonDiv {
    width: 100%;
}

li {
    display: inline;
}
