body {
    background-color: #000000;
}

.button {
    border: none;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    padding: 20px;
    width: 10%;
    height: 3%;

}